<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141610256272-sln6638qe8k9o0cn98uh41rmmbm6c0qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141610256272-sln6638qe8k9o0cn98uh41rmmbm6c0qr</string>
	<key>API_KEY</key>
	<string>AIzaSyAGrS_BMONcLF5tXRI9m2n2D4U2Pok47AU</string>
	<key>GCM_SENDER_ID</key>
	<string>141610256272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ebasak.AsiKarnesi</string>
	<key>PROJECT_ID</key>
	<string>asi-karnesi</string>
	<key>STORAGE_BUCKET</key>
	<string>asi-karnesi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141610256272:ios:de5209cc01044f0dce1515</string>
</dict>
</plist>